
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans'
}
html{
    font-size: 100%;
    /* 1em = 16px */
}
body{
    --white:#f9faf8;
    --bg:#313131;
}

body{
    background-color: var(--bg);
    color: var(--white);
    
}

.weather-data{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & .hero{
        width: 502px;
        height: 625px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        padding: 1rem;
        border-radius: 0.5rem;

        & .search-bar{
            height: 53px;
            display: flex;
            justify-content: space-between;

            & #city-name{
                width: 85%;
                border-radius: 2rem;
                border: none;
                background-color: #21D4FD;
                background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
                color: var(--bg);
                padding: 1.2rem;
                font-size: 1.5rem;
                opacity: 75%;
            }
            & .btn{
                width: 53px;
                height: 53px;
                border-radius: 50%;
                background-color: transparent;
                border: 4px solid rgb(125,235,242);
                
            }
            & #sea{
                font-size: 1.5rem;
            }
        }
        & .data{
            height: 525px;
            opacity: 80%;
            background-color: #21D4FD;
            background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5rem;
            

            & .top{
                width: 100%;
                height: 15%;

                display: flex;
                justify-content: space-between;
                align-items: center;

                & #city{
                    font-size: 2rem;
                }
                & .clock{
                    text-align: right;
                }
            }

            & .mid{
                width: 100%;
                height: 70%;
                
                border-width: 0.1rem 0rem;
                border-color: var(--white);
                border-style: solid;

                display: flex;
                justify-content: space-between;
                align-items: center;
                & #temperature{
                    width: 50%;
                    font-size: 9rem;

                    display: flex;

                    & #degree{
                        font-size: 6rem;
                    }
                }
            }

            & .bottom{
                width: 100%;
                height: 15%;

                margin-top: 0.5rem;
                
                display: flex;
                justify-content: space-between;

                & .bottom-left{
                    height: 100%;
                    display: flex;
                    align-items: center;

                    & #hum-img{
                        max-width: 64px;
                        height: 50px;
                        margin-right: 0.5rem;
                    }

                    & .humid{
                        font-size: 1.9rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        

                        & #humidity{
                            margin: 0;
                            padding: 0;
                        }

                        & #hum{
                            font-size: 1.3rem;
                            padding-left: 0.2rem;
                        }
                    }
                    
                }

                & .bottom-right{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                    & #wind-img{
                        max-width: 69px;
                        height: 55px;
                        margin-right: 0.5rem;
                    }

                    & .wind-speed{
                        font-size: 1.9rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        

                        & #wind-speed{
                            margin: 0;
                            padding: 0;
                        }

                        & #ws{
                            font-size: 1.3rem;
                            padding-left: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}




@media (width <= 376px) {
    html{
        font-size: 75%;
    }
    .weather-data{
        & .hero{
            width: 90%;
            height: 90%;
            justify-content: space-evenly;

            & .search-bar{
                & #city-name{
                    width: 80%;
                }
            }
            
            & .data{
                height: 75%;

                & .bottom{
                    & .bottom-left{
                        #hum-img{
                            width: 70%;
                            height: 65%;
                        }
                    }
                    & .bottom-right{
                        #wind-img{
                            width: 70%;
                            height: 65%;
                        }
                    }
                }
            }
        }
    }

    
    #weatherIcon{
        width: 60%;
    }

}